<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tw.gov.ndc.emsg.mydata.mapper.ChatbotMessageMapper">
  <resultMap id="BaseResultMap" type="tw.gov.ndc.emsg.mydata.entity.ChatbotMessage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="intent_name" jdbcType="VARCHAR" property="intentName" />
    <result column="bot_response" jdbcType="VARCHAR" property="botResponse" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="session" jdbcType="VARCHAR" property="session" />
    <result column="feel" jdbcType="VARCHAR" property="feel" />
    <result column="value" jdbcType="VARCHAR" property="value" />
  </resultMap>
  <sql id="Base_Column_List">
    id, account, type, message, intent_name, bot_response, ctime, session, feel, value
  </sql>
  <select id="selectByExample" parameterType="tw.gov.ndc.emsg.mydata.entity.ChatbotMessageExample" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from chatbot_message
    where 1 = 1
    and type in ('user', 'bot')
    <if test="account != null">
      and account = #{account,jdbcType=VARCHAR}
    </if>
    <if test="pageParam.searchTime != null">
      and ctime <![CDATA[<]]> #{pageParam.searchTime,jdbcType=TIMESTAMP}
    </if>
    order by ctime desc
    <if test="pageParam != null">
    limit #{pageParam.pageSize,jdbcType=INTEGER} offset (#{pageParam.page,jdbcType=INTEGER} - 1) * #{pageParam.pageSize,jdbcType=INTEGER};
    </if>
  </select>
  <select id="countByAccount" resultType="java.lang.Integer">
    select
        count(*)
    from chatbot_message
    where 1 = 1
    <if test="account != null">
      and account = #{account,jdbcType=VARCHAR}
    </if>
    <if test="pageParam.searchTime != null">
      and ctime <![CDATA[<]]> #{pageParam.searchTime,jdbcType=TIMESTAMP}
    </if>
  </select>
  <insert id="insertSelective" parameterType="tw.gov.ndc.emsg.mydata.entity.ChatbotMessage">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Oct 21 16:57:34 CST 2020.
    -->
    insert into chatbot_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="intentName != null">
        intent_name,
      </if>
      <if test="botResponse != null">
        bot_response,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
      <if test="session != null">
        session,
      </if>
      <if test="feel != null">
        feel,
      </if>
      <if test="value != null">
        value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="intentName != null">
        #{intentName,jdbcType=VARCHAR},
      </if>
      <if test="botResponse != null">
        #{botResponse,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="session != null">
        #{session,jdbcType=VARCHAR},
      </if>
      <if test="feel != null">
        #{feel,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>