<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tw.gov.ndc.emsg.mydata.mapper.OrganWhiteIpListMapper">
  <resultMap id="BaseResultMap" type="tw.gov.ndc.emsg.mydata.entity.OrganWhiteIpList">
    <id column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="mark" jdbcType="VARCHAR" property="mark" />
  </resultMap>
  <sql id="Base_Column_List">
    ip, mark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from organ_white_ip_list
  </select>
</mapper>