<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tw.gov.ndc.emsg.mydata.mapper.SystemOptionMapper">
  <resultMap id="BaseResultMap" type="tw.gov.ndc.emsg.mydata.entity.SystemOption">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="option" jdbcType="VARCHAR" property="option" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="white_ip" jdbcType="VARCHAR" property="whiteIp" />
    <result column="enable" jdbcType="INTEGER" property="enable" />
    <result column="ap" jdbcType="VARCHAR" property="ap" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="test_version" jdbcType="INTEGER" property="testVersion" />
  </resultMap>
  <sql id="Base_Column_List">
    id, option, description, white_ip, enable, ap, version, test_version
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from system_option
    where ap in ('FRONTEND', 'FRONTEND/BACKEND')
  </select>
</mapper>