<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-Hant-TW">
<th:block id="download-privacy" th:fragment="download-privacy">
    <!-- 資料下載線上服務條款 -->
    <div class="policy-box policy-page shadow-sm p-0 mb-3">
        <p class="bg-gray box-title  text-center p-3 mb-0 h2">
            資料下載及線上服務條款
        </p>
        <div class="content p-4 policy-content">
            <p>
                國家發展委員會（以下簡稱本會）於個人化資料自主運用(MyData)平臺（以下簡稱本平臺）提供資料下載、線上服務及臨櫃服務作業，期望透過本平臺增進使用者瞭解個人資料運用方式。為協助您瞭解本平臺之功能與內容，以及保障您個人之權益，請於使用本平臺前詳細閱讀以下內容，當您開始使用本平臺時，即視為您已充分閱讀、瞭解並同意接受本平臺服務條款之所有內容：
            </p>
            <ul class="policy-page">
                <li>
                    <p class="mt-3">
                        <strong>個人資料下載及線上服務內容</strong>
                    </p>
                    <ol>
                        <li>本平臺協助您取得的個人資料均由本會之合作機關(構)提供，若您對下載資料內容有任何疑慮，請與資料來源機關(構)聯繫</li>
                        <li>使用本平臺時，須填寫個人資料進行身分驗證，如不提供，則無法使用本平臺之服務。詳情請參閱本平臺之「<a href="/sp/servicepolicy" target="_blank"
                                                                               title="前往服務條款(另開新頁)">服務條款</a>」內容。</li>
                        <li>本平臺限您本人及您同意之服務提供機關(構)使用，若您不同意提供您的個人資料予該服務提供機關(構)使用，請停止使用本平臺。 </li>
                        <!--					<li>使用本服務時，須填寫個人資料進行身分確認作業，如無法提供，則將無法使用本服務。詳情請參閱服務條款內容。</li>-->
                    </ol>
                </li>
                <li>
                    <p class="mt-3">
                        <strong>個人資料保護聲明</strong>
                    </p>
                    <ol>
                        <li>目的：本平臺經由驗證您的身分與線上同意後，單次即時提供您個人資料自行下載或提供給第三方機關(構)進行線上服務或臨櫃服務作業。</li>
                        <li>資料類別：經由驗證您的身分與線上同意後，單次即時提供您個人資料自行下載或提供給第三方機關(構)進行線上服務或臨櫃服務作業所需之資料。</li>
                        <li>其餘個人資料使用與保護政策，請參閱本平臺之「<a href="/sp/privacypolicy" target="_blank"
                                                     title="前往隱私權保護政策(另開新頁)">隱私權保護政策</a>」內容。

                        </li>
                    </ol>
                </li>
                <li>
                    <p class="mt-3">
                        <strong>資料保管及使用</strong>
                    </p>
                    <ol>
                        <li>當您使用本平臺取得個人資料後請妥善保管，其下載資料後續的保管、使用方式及其所造成之影響，本平臺不負任何保管、管理及損害賠償責任。</li>
                        <li>
                            本平臺取得個人資料之功能，包含資料自行下載儲存或提供給第三方機關（構）進行線上服務作業，資料一旦經取用後，系統將立即刪除該取得之個人資料；若資料未下載儲存或提供予第三方使用，本平臺將於八小時後自動刪除該個人資料，若需重新取得檔案，須重新進行身分驗證及線上同意作業。
                        </li>
                    </ol>
                </li>
                <li>
                    <p class="mt-3">
                        <strong>服務條款修訂</strong>
                    </p>
                    <ol>
                        <li>
                            本平臺有權於任何時間修改、變更本平臺服務條款之內容，修改或變更時，本平臺將於平臺網頁進行公告，不再個別通知使用者，建議您定期查閱本平臺服務條款。如依法或其他相關規定須為通知時，本平臺得以張貼於本平臺網頁、電子郵件或其他合理之方式通知您。
                        </li>
                        <li>
                            如您於本平臺服務條款修改或變更後仍續使用本平臺服務，則視為您（暨您的監護人）已閱讀、瞭解與同意接受本平臺服務條款修改或變更，若您對本平臺條款內容存有疑義，或您所屬之國家或地域不適用本平臺條款內容之全部或部分時，您應立即停止使用。
                        </li>
                    </ol>
                </li>
                <li>
                    <p class="mt-3">
                        <strong>諮詢服務</strong>
                    </p>
                    <ol>
                        若您對本平臺服務條款有任何疑問，歡迎您隨時與我們聯絡。
                        <br>
                        <!-- 					客服電話： <span class="link m-0">(</span><a href="tel:0221927111">02)2192-7111</a>， -->
                        客服信箱：<a href="mailto:mydata@ndc.gov.tw">mydata@ndc.gov.tw</a><br>
                        客服電話：<a href="tel:0286433520">0800-009-868</a><br>
                        <!--						電話服務時間：週一～週五 9:00~18:00 (例假日除外，非上述時間請多利用客服信箱)-->
                    </ol>
                </li>
            </ul>
        </div>
    </div>

    <!-- 同意服務條款 -->
    <div class="form">
        <div class="form-group mb-0">
            <input type="checkbox" class="agree-policy" id="agree-policy" name="agree-policy" disabled>
            <label class="flex-middle mb-0" for="agree-policy" tabindex="0" title="勾選同意上述服務條款">
                <strong>我已了解此服務內容，並同意上述服務條款。</strong>
            </label>
        </div>
    </div>
</th:block>
<th:block th:fragment="agree-policy-script">
    <script type="text/javascript" th:inline="javascript">
        $('.policy-content').scroll(function() {
            var objDivs = document.getElementsByClassName("policy-content");
            Array.from(objDivs).forEach(function(obj) {
                var elt = $(obj)[0];

                //console.log(elt.scrollTop + elt.offsetHeight, elt.scrollHeight);
                if((elt.scrollTop + elt.offsetHeight >= elt.scrollHeight - 10) && elt.scrollTop > 0) {
                    $('#agree-policy').prop('disabled', false);
                }
            });
        });

        // 同一條款是否已勾選
        function isAgreePolicy() {
            return $('#agree-policy').prop('checked');
        }

        function checkAgreePolicy() {
            var checkboxCheck = isAgreePolicy();

            if(!checkboxCheck) {
                showPopMessage(' 請務必閱讀完畢上述資料下載及線上服務條款，並勾選同意', $('#agree-policy'));
                return false;
            }

            return true;
        }

        function checkIsAgreePolicy(callbackFun) {
            RiAPI.run({
                type : 'POST',
                url : checkMemberUrl(),
                data: getCheckMemberPostBody(),
                loadSpin : true,
                success : function(resp) {
                    if (resp.code < 0) {
                        errorMsg(resp);
                    }else{
                        callbackFun(resp);
                    }
                }
            });
        }
    </script>
</th:block>
</html>
