<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-Hant-TW">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="_csrf" th:if="${_csrf}" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:if="${_csrf}"
	th:content="${_csrf.headerName}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<title>MyData | 臨櫃核驗</title>
<link rel="icon" type="image/png" sizes="16x16"
	href="image/smydatalogo.png"
	th:href="@{/resources/dist/image/smydatalogo.png}">
<!-- Bootstrap -->
<link href="css/bootstrap.css" rel="stylesheet"
	th:href="@{/resources/dist/css/bootstrap.css}">
<link href="css/style.css" rel="stylesheet" type="text/css"
	th:href="@{/resources/dist/css/style.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
	th:href="@{/resources/plugins/font-awesome/css/font-awesome.min.css}">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-3.5.1.min.js"
	th:src="@{/resources/dist/js/jquery-3.5.1.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/popper.min.js"
	th:src="@{/resources/dist/js/popper.min.js}"></script>
<script src="js/bootstrap.js"
	th:src="@{/resources/dist/js/bootstrap.js}"></script>
<script src="js/scrollreveal.js"
	th:src="@{/resources/dist/js/scrollreveal.js}"></script>
<script src="jquery-barcode.js"
	th:src="@{/resources/dist/js/jquery-barcode.js}"></script>
</head>
<body th:classappend="${session.SignedInUser!=null&&session.SignedInUser.maskMember!=null&&session.SignedInUser.maskMember.name!=null}?'after-login':''">
	<!--======= header =======-->
	<header th:replace="fragment/header::header"></header>
	<!--======= header =======-->
	<!-- Breadcrumb -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<a href="#main_area" id="main_area" title="主要內容區塊"
				class="show-lg-only aa-index">:::</a>
			<li class="breadcrumb-item"><a href="#" th:href="@{/}"
				title="回到MyData首頁"> <img src="images/breadcrumb-home.png"
					th:src="@{/resources/dist/image/breadcrumb-home.png}" alt="" />首頁
			</a></li>
			<li class="breadcrumb-item active" aria-current="page">臨櫃核驗</li>
		</ol>
	</nav>

	<!--======= content =======-->
	<div class="content-wrap section-wrap organ-page landing-page">
		<section>
			<div class="text-center">
				<h2 style="margin-left: 75px;">臨櫃核驗</h2>
				<div class="description">
					<p class="alert">僅限機關人員操作使用</p>
				</div>
			</div>
			<div class="card-body">
				<ul class="steps-wrap mt-3">
					<li id="step1" class="step step1">
						<hr>
						<div class="disabled-mask"></div>
						<!-- <h3 class="title">臨櫃核驗</h3>  -->
						<div class="row">
							<div class="col-md-6">
								<label for="downloadVerify">請輸入資料條碼：</label>
								<input type="text" id="downloadVerify" name="downloadVerify" value="" autocomplete="off">
							</div>
							<!--<div class="col-md-6">
								<label for="captcha">驗證碼：</label>
								<input type="text" id="captcha" name="captcha">
								<br>
								<img id="captchaImg" alt="captcha" src="/captcha.jpg" th:src="@{/captcha.jpg}" class="mt-1">
								<button class="btn p-0 speaker" title="語音播放驗證碼" onclick="javascript:captchaGoogleSounfPlay();">
									<img th:src="@{/resources/dist/image/speaker-icon.svg}" alt="語音播放">
								</button>
								<a href="javascript:void(0);" class="link" onclick="javascript:refreshCaptchaImage();">
									<small class=" link m-0 mt-3 ml-1">刷新驗證碼</small>
								</a>
							</div> -->
						</div>
						<div class="text-center mt-4">
							<button id="apply47" class="btn theme-btn-border mt-3 g-recaptcha"
								onclick="javascript:downloadVerifyCheck();">下一步</button>
						</div>
					</li>
					<li id="step2" class="step step2" style="display: none;">
						<hr>
						<div class="disabled-mask"></div>
						<h3 class="title alert mb-2">輸入驗證密碼</h3>
						<p id="resendOTPMessage" class="description mb-0">驗證密碼已發送至申請人的電子信箱：，須請申請人提供驗證密碼，方能完成資料取用流程。</p>
						<label for="checkCode">驗證密碼：</label>
						<div class="w-100">
							<input type="text" id="checkCode" pattern="[0-9]*" inputmode="numeric" name="checkCode" value="" autocomplete="off">
							<button id="resendOTPBtn" class="btn theme-btn-border ml-3 false" disabled
									onclick="javascript:resendOTPByOrgan();">發送驗證密碼</button>
						</div>
						<div id="resendOTPWait" class="bg-gray p-3 mb-3 alert alert-box">
							<div>
								<small id="resendOTPText"><img src="/resources/dist/image/ps-icon.svg" th:src="@{/resources/dist/image/ps-icon.svg}" alt="注意事項：" style="width: 15px; margin-right: 3px">請於 2 分鐘內輸入驗證密碼。 2 分鐘後才能再次發送新驗證密碼。</small>
								<small id="resendOTPWaitTime">(60)</small>
							</div>
						</div>
						<div class="text-center mt-4">
							<button id="apply47" class="btn theme-btn mt-2" onclick="javascript:emailOrMobileLoginStepCheck();">確認</button>
						</div>
					</li>
					<!-- 如為下載狀態，則在 Class " download-status " 旁加上 " laoding " -->
					<li id="step3" class="step download-status" style="display: none;">
						<hr>
						<h5 class="mb-2 get-data title">資料取用</h5>
						<div id="personalDownloadDiv">
							<p>
								你可選擇下列方式使用已下載的資料：<span class="alert">密碼是申請人的身分證字號（英文為大寫）</span>
							</p>
							<div class="text-center mt-4 mb-2">
								<!-- Button trigger modal -->
								<button class="btn theme-btn-border mr-3" onclick="javascript:previewVerify();">線上預覽檔案</button>
								<button class="btn theme-btn mr-3 hidden-mobile" onclick="javascript:downloadVerifyWarning();">轉存到我的電腦</button>
								<button class="btn theme-btn mr-3 hidden-desktop" onclick="javascript:downloadVerifyWarning();">轉存到我的手機</button>
							</div>
						</div>
						<div id="counterDownloadDiv" style="display: none;">
							<!-- <p id="counterShowName" class="mt-4 p-3 alert-box">長期照護線上服務 - 服務提供單位：嘉義縣政府綜合規劃處</p> -->
						</div>
					</li>
				</ul>
			</div>
		</section>
	</div>
	<!--======= end content =======-->
	
	<!-- 下載提示-->
	<div id="download-pop-message" class="modal fade show" role="dialog" aria-labelledby="refuseModalLabel" style="display: none;" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="refuseModalLabel">MyData 提醒</h5>
					<button type="button" class="close" title="關閉彈跳視窗" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div id="download-message-text" class="modal-body">此檔案轉存後，本平臺將立即刪除該檔案。是否仍要轉存？</div>
				<div class="modal-footer">
					<button class="theme-btn false mr-3" data-dismiss="modal">取消</button>
					<button id="download-btn" class="theme-btn" data-id="" onclick="javascript:downloadVerify();">確定</button>
				</div>
			</div>
		</div>
	</div>
	<!--線上預覽檔案提示-->
	<div id="preview-pop-message" class="modal fade show" role="dialog" aria-labelledby="refuseModalLabel" style="display: none;" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="refuseModalLabel">MyData 提醒</h5>
					<button type="button" class="close" title="關閉彈跳視窗" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div id="preview-message-text" class="modal-body">此畫面僅供您個人檢視參考，不得列印作為業務申辦佐證文件。</div>
				<div class="modal-footer">
					<button class="theme-btn false mr-3" data-dismiss="modal">取消</button>
					<button id="preview-btn" class="theme-btn" data-id="" data-src="" onclick="javascript:previewToCompanyConfirmYes(this);">確定</button>
				</div>
			</div>
		</div>
	</div>
	<!--======= footer =======-->
	<footer th:replace="fragment/footer::footer"></footer>
	<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top"
		role="button" title="網頁置頂" data-toggle="tooltip" data-placement="left"
		style="display: inline;"> <img class="arrow-position"
		src="images/top-arrow.png"
		th:src="@{/resources/dist/image/top-arrow.png}" alt="向上置頂">
	</a>
	<!--======= end footer =======-->


	<script type="text/javascript" th:inline="javascript">	    
		var x, i, j, selElmnt, a, b, c;
		/*look for any elements with the class "custom-select":*/
		x = document.getElementsByClassName("custom-select1");
		for (i = 0; i < x.length; i++) {
			selElmnt = x[i].getElementsByTagName("select")[0];
			/*for each element, create a new DIV that will act as the selected item:*/
			a = document.createElement("DIV");
			a.setAttribute("class", "select-selected");
			a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
			x[i].appendChild(a);
			/*for each element, create a new DIV that will contain the option list:*/
			b = document.createElement("DIV");
			b.setAttribute("class", "select-items select-hide");
			for (j = 1; j < selElmnt.length; j++) {
				/*for each option in the original select element,
				create a new DIV that will act as an option item:*/
				c = document.createElement("DIV");
				c.innerHTML = selElmnt.options[j].innerHTML;
				c
						.addEventListener(
								"click",
								function(e) {
									/*when an item is clicked, update the original select box,
									and the selected item:*/
									var y, i, k, s, h;
									s = this.parentNode.parentNode
											.getElementsByTagName("select")[0];
									h = this.parentNode.previousSibling;
									for (i = 0; i < s.length; i++) {
										if (s.options[i].innerHTML == this.innerHTML) {
											s.selectedIndex = i;
											h.innerHTML = this.innerHTML;
											y = this.parentNode
													.getElementsByClassName("same-as-selected");
											for (k = 0; k < y.length; k++) {
												y[k].removeAttribute("class");
											}
											this.setAttribute("class",
													"same-as-selected");
											break;
										}
									}
									h.click();
								});
				b.appendChild(c);
			}
			x[i].appendChild(b);
			a.addEventListener("click", function(e) {
				/*when the select box is clicked, close any other select boxes,
				and open/close the current select box:*/
				e.stopPropagation();
				closeAllSelect(this);
				this.nextSibling.classList.toggle("select-hide");
				this.classList.toggle("select-arrow-active");
			});
		}
		
		var member, uuidcheck;
		var publicKeyBase64;
		var privatKeyBase64;
	    $(function() {
			if(typeof crypto.subtle!='undefined'){
				createNewUserKey().then(function(key){
					publicKeyBase64 = toPublicPem(key[0]);
					privatKeyBase64 = toPrivatePem(key[1]);
				});
			}
	    });	
	    
		/** function */
		function downloadVerifyCheck() {
			var downloadVerify = $('#downloadVerify').val();
			//var captcha = $('#captcha').val();
			/*if(captcha.langth == 0) {
				$('#message-text').text("驗證密碼尚未輸入");
				$('#pop-message').modal('show');	
				return;
			}*/
			var p = {
				//"captcha" : captcha.toUpperCase(),
				"downloadVerify": downloadVerify
			};
			RiAPI.run({
				type : 'POST',
				url : '/rest/personal/verification/check',
				data : p,
				loadSpin : true,
				success : function(resp) {
					var code = resp.code;
					if (code < 0) {
						if(resp.code == -5) {
							showTimeoutMessage(resp);
							return;
						}

						//message-text
						//refreshCaptchaImage();
						$('#downloadVerify').val('');
						downloadVerifyLock();
						/*var text;
						if(code == -1106) {
							//text = '此資料條碼錯誤或檔案不存在，請輸入正確的資料條碼，謝謝。';
							downloadVerifyLock();
							return;
						} else if(code == -1110) {
							//text = '圖型驗證碼不正確，請輸入正確驗證碼，謝謝。';
							downloadVerifyLock();
							return;
						} else if(code == -1204) {
							$('#downloadVerify').val('');
							//text = '此資料條碼錯誤或檔案不存在，請輸入正確的資料條碼，謝謝。';
							downloadVerifyLock();
							return;
						} else {
							$('#downloadVerify').val('');
							
							return;
						}
						$('#message-text').text(text);
						$('#pop-message').modal('show');*/
					} else {
						sendEmailAndMobileCode(resp.data);
						if(typeof resp.data.box != 'undefined'&&typeof resp.data.box.boxList != 'undefined'&& resp.data.box.boxList.length >0){
							$('#personalDownloadDiv').hide();
							$('#counterDownloadDiv').show();
							$('#counterDownloadDiv').empty().append('<p id="counterShowName" class="subtitle">'+resp.data.box.psName+' - 服務提供單位：'+resp.data.box.providerName+'</p>');

							var counterType = resp.data.counterType;

							if(counterType == 0 || counterType ==2) {
								for(var i=0;i<resp.data.box.boxList.length;i++){
									var pb = resp.data.box.boxList[i];
									$('#counterDownloadDiv').append('<p>'+pb.prName+' - 資料提供單位：'+pb.providerName+'</p>');
									$('#counterDownloadDiv').append('<p>你可選擇下列方式使用已下載的資料：<span class="alert">開啟檔案的密碼是身分證字號（英文為大寫）</span></p>');
									$('#counterDownloadDiv').append('<div class="text-center mt-4 mb-2"><button class="btn theme-btn-border mr-3" onclick="javascript:previewToCompanyConfirmYes(this);" data-downloadVerify="'+ pb.downloadVerify +'">線上預覽檔案</button></div>');
								}
							}

							if(counterType == 1 || counterType == 2) {
								$('#counterDownloadDiv').append('<div class="text-center mt-4 mb-2 download"><button class="btn theme-btn mr-3 hidden-mobile" onclick="javascript:downloadVerifyWarning();">轉存到我的電腦</button><button class="btn theme-btn mr-3 hidden-desktop" onclick="javascript:downloadVerifyWarning();">轉存到我的手機</button></div>');
							}
						}else{
							$('#personalDownloadDiv').show();
							$('#counterDownloadDiv').hide();
						}
					}
				}
			});
		}
		
		function downloadVerifyLock() {
			RiAPI.run({
				type : 'GET',
				url : '/rest/personal/verification/lock',
				loadSpin : true,
				success : function(resp) {
					if(resp.code == -5) {
						showTimeoutMessage(resp);
						return;
					}

					var lock = resp.data.lock;
					if(lock != null) {
						if(lock.count < 5) {
							var text = '資料條碼錯誤。<br>錯誤已達 ' + lock.count + ' 次，累計 5 次將停用此臨櫃核驗服務 15 分鐘。';
							$('#message-text').html(text);
							$('#pop-message').modal('show');
						} else {
							var url = /*[[@{/organ/error6}]]*/'';
							window.location.href = url;
						}
					}
				}
			});
		}
		
		function sendEmailAndMobileCode(data) {
			member = data.member;
			var p = {
				"inform_method": member.informMethod,
				"memberId": member.id
			};
			RiAPI.run({
				type : 'POST',
				url : '/rest/user/verifyMobileOrEmailForVerificatoin',
				data : p,
				loadSpin : true,
				success : function(resp) {
					var code = resp.code;
					if (code < 0) {
						if(resp.code == -5) {
							showTimeoutMessage(resp);
							return;
						}
						$('#message-text').text('驗證密碼不正確');
						$('#pop-message').modal('show');	
					} else {
						uuidcheck = resp.data.uuidcheck;
						showStep2();
					}
				}
			});
		}
		
		function showStep2() {
			$('#step2').show();
			$('.card-body').addClass('organ-step1');
			if (member.informMethod === 'mobile') {
				hint = '驗證密碼已發送至申請人的手機號碼：'
						+ maskPhoneNumber(member.mobile)
						+ '，須請申請人提供驗證密碼，方能完成資料取用流程。';
				$('#resendOTPMessage').empty().append(hint);
			} else {
				hint = '驗證密碼已發送至申請人的電子信箱：'
						+ maskEmailAddress(member.email)
						+ '，須請申請人提供驗證密碼，方能完成資料取用流程。';
				$('#resendOTPMessage').empty().append(hint);
			}
			$('#resendOTPWaitTime').attr('data-time', 120);
			waitOTPsecInterval = setInterval(
				function() {
					checkOTPWaitTimeByOrgan();
			}, 1000);
		}
		
		function emailOrMobileLoginStepCheck() {
			var checkFlag = true;
			p = {
				"uuidcheck" : uuidcheck,
				"checkCode" : $('#checkCode').val(),
				"isVerification": "Y"
			};
			if (checkFlag
					&& (typeof $('#checkCode').val() == 'undefined' || $(
							'#checkCode').val() == '')) {
				$('#message-text').text('未填驗證密碼！');
				$('#pop-message').modal('show');
				checkFlag = false;
			}
			if (checkFlag) {
				RiAPI.run({
					type : 'POST',
					url : '/rest/user/emailOrMobileLoginStep/check',
					loadSpin : true,
					data : p,
					success : function(resp) {
						$('#checkCode').val('');
						if (resp.code < 0) {
							if(resp.code == -5) {
								showTimeoutMessage(resp);
								return;
							}
							$('#message-text').text('驗證密碼輸入錯誤或失效');
							$('#pop-message').modal('show');
						} else {
							$('#step3').show();
							$('.card-body').addClass('organ-step2');
							$('#resendOTPWaitTime').empty();
							clearInterval(waitOTPsecInterval);
						}
					}
				});
			}
		}
		
		function downloadVerifyWarning(){
			$('#download-pop-message').modal('show');
		}
		
		function downloadVerify() {
			$('#download-pop-message').modal('hide');
			var downloadVerify = $('#downloadVerify').val();
			var url = /*[[@{/personal/verification/download}]]*/'';
			var url = url + '?downloadVerify=' + downloadVerify;
			window.open(url);
			setTimeout(function(){
				//window.location.reload();
				window.location.href = window.location.href;
			},1000);
		}
		
		function previewVerify() {
			var downloadVerify = $('#downloadVerify').val();
			var url = /*[[@{/personal/verification/preview}]]*/'';
			var url = url + '?downloadVerify=' + downloadVerify;
			window.open(url);
		}
		
// 		function previewVerifyByCounter(obj) {
// 			var downloadVerify = $(obj).attr('data-downloadVerify');
// 			var url = /*[[@{/personal/verification/preview}]]*/'';
// 			var url = url + '?downloadVerify=' + downloadVerify;
// 			window.open(url);
// 		}
		
		/**
		 * 發送驗證密碼後秒數倒數
		 */

		function checkOTPWaitTimeByOrgan() {
		    var waitsec = parseInt($('#resendOTPWaitTime').attr('data-time'));
		    waitsec = parseInt(waitsec);
		    if (waitsec == 0) {
		        $('#resendOTPWaitTime').empty();
		        $('#resendOTPBtn').removeClass('false')
		        $('#resendOTPBtn').attr('disabled', false);
		        $('#resendOTPWait').hide();
		        clearInterval(waitOTPsecInterval);
		    } else {
		        $('#resendOTPWaitTime').empty().append('(' + waitsec + ')');
		        waitsec = waitsec - 1;
		        $('#resendOTPWaitTime').attr('data-time', waitsec)
		    }
		}

		/**
		 * 再次發送otp簡訊
		 */
		function resendOTPByOrgan() {
			var p = {
				"inform_method": member.informMethod,
				"memberId": member.id
			};
		    RiAPI.run({
		        type: 'POST',
		        url: '/rest/user/verifyMobileOrEmailForVerificatoin',
		        loadSpin: true,
		        data: p,
		        success: function (resp) {
					if(resp.code == -5) {
						showTimeoutMessage(resp);
						return;
					}

	                if (typeof resp.data.uuidcheck != 'undefined') {
	                    uuidcheck = resp.data.uuidcheck;
	                    //初次發送，一樣等一分鐘後，才可重送
	                    $('#resendOTPBtn').addClass("false")
	                    $('#resendOTPBtn').attr('disabled', true);
	                    $('#resendOTPWait').show();
	                    $('#resendOTPWaitTime').attr('data-time', 120);
	                    waitOTPsecInterval = setInterval(function () {
	                        checkOTPWaitTimeByOrgan();
	                    }, 1000);
	                }
		        }
		    });
		}
		
		function refreshCaptchaImage() {
			var url = /*[[@{/captcha.jpg}]]*/"";
			url += "?" + "ctime=" + new Date().getTime() ;
			$('#captchaImg').attr('src', url);
			$('#captcha').val('');
		}
		
	    function previewToCompanyConfirmYes(obj){
			var downloadVerify = $(obj).attr('data-downloadverify');
			var p = {
				key:publicKeyBase64,
				downloadVerify:downloadVerify
			};
	        RiAPI.run({
	            type : 'POST',
	            url : '/rest/personal/verification/preview',
	            data: p,
	            loadSpin : true,
	            success : function(resp) {
	                if (resp.code < 0) {
	                    if(resp.code == -5) {
	                        showTimeoutMessage(resp);
	                        return;
	                    }
	                    $('#message-text').text(resp.text);
	                    $('#pop-message').modal('show');
	                } else {
	                	if(typeof resp.data.data!='undefined' &&resp.data.data.length>0){
	                		preViewDataDecodeAndShow(resp.data);
	                	}
	                }
	            },
	            error : function() {
	                $('#message-text').text('線上預覽檔案失敗。');
	                $('#pop-message').modal('show');
	            }
	        
	        });
			//$('#preview-pop-message').modal('hide');
	    }
	    
		var algorithmKeyGen = {
			name: "RSA-OAEP",
			hash: {name: "sha-256"},
			modulusLength: 2048,
			publicExponent: new Uint8Array([0x01, 0x00, 0x01]),
		};
		
		function createNewUserKey(){
			return crypto.subtle.generateKey(algorithmKeyGen, true, ['encrypt', 'decrypt']).then(function(key) {
				return Promise.all([crypto.subtle.exportKey("spki", key.publicKey),
				crypto.subtle.exportKey("pkcs8", key.privateKey)]);
			});  
		}
			        
	    function arrayBufferToBase64(arrayBuffer) {
	        var byteArray = new Uint8Array(arrayBuffer);
	        var byteString = '';
	        for(var i=0; i < byteArray.byteLength; i++) {
	            byteString += String.fromCharCode(byteArray[i]);
	        }
	        var b64 = window.btoa(byteString);

	        return b64;
	    }

	    function addNewLines(str) {
	        var finalString = '';
	        while(str.length > 0) {
	            finalString += str.substring(0, 64) + '\n';
	            str = str.substring(64);
	        }

	        return finalString;
	    }
	    
	    function toPrivatePem(privateKey) {
	        var b64 = addNewLines(arrayBufferToBase64(privateKey));
	        var pem = "-----BEGIN PRIVATE KEY-----\n" + b64 + "-----END PRIVATE KEY-----";
	        
	        return pem;
	    }
	    
	    function toPublicPem(publicKey) {
	        //var b64 = addNewLines(arrayBufferToBase64(publicKey));
	        var b64 = arrayBufferToBase64(publicKey);
	        var pem = "-----BEGIN PUBLIC KEY-----\n" + b64 + "-----END PUBLIC KEY-----";
	        
	        return b64;
	    }
	    
	    function convertPemToBinary(pem) {
	        var lines = pem.split('\n')
	        var encoded = ''
	        for(var i = 0;i < lines.length;i++){
	          if (lines[i].trim().length > 0 &&
	              lines[i].indexOf('-BEGIN RSA PRIVATE KEY-') < 0 &&
	              lines[i].indexOf('-BEGIN PRIVATE KEY-') < 0 &&
	              lines[i].indexOf('-BEGIN RSA PUBLIC KEY-') < 0 &&
	              lines[i].indexOf('-BEGIN PUBLIC KEY-') < 0 &&
	              lines[i].indexOf('-END RSA PRIVATE KEY-') < 0 &&
	              lines[i].indexOf('-END PRIVATE KEY-') < 0 &&
	              lines[i].indexOf('-END PUBLIC KEY-') < 0 &&
	              lines[i].indexOf('-END RSA PUBLIC KEY-') < 0) {
	            encoded += lines[i].trim()
	          }
	        }
	        return base64StringToArrayBuffer(encoded)
	    }
	    
	    function base64StringToArrayBuffer(b64str) {
	        var byteStr = atob(b64str)
	        var bytes = new Uint8Array(byteStr.length)
	        for (var i = 0; i < byteStr.length; i++) {
	          bytes[i] = byteStr.charCodeAt(i)
	        }
	        return bytes.buffer
		}
		
	    function importPrivateKey(pemKey) {
	        return new Promise(function(resolve) {
	          var importer = crypto.subtle.importKey("pkcs8", convertPemToBinary(pemKey), algorithmKeyGen, true, ['decrypt'])
	          importer.then(function(key) {
	            resolve(key)
	          })
	        })
	    }
	       
		function preViewDataDecodeAndShow(data){
			var encryptedKey = data.key;
			var encryptedData = data.data;
			var encryptedIv = data.iv;
			importPrivateKey(privatKeyBase64).then(function(key){
				//importkey 解密
				return crypto.subtle.decrypt({name: 'rsa-oaep'}, key, base64StringToArrayBuffer(encryptedKey));
			}).then(function(decryptedKey){
				var base64Str = cbcdecrypt(encryptedData,new TextDecoder("UTF-8").decode(new Uint8Array(decryptedKey)),encryptedIv);
				return new Promise(function(resolve) {
					resolve(base64Str);
				});
			}).then(function(base64Str){
				showbase64StrPdf(base64Str);
			});
		}
		

		function showbase64StrPdf(base64Str){
			var binary = atob(base64Str.replace(/\s/g, '')); 
			var len = binary.length; 
			var buffer = new ArrayBuffer(len); 
			var view = new Uint8Array(buffer); 
			for (var i = 0; i < len; i++) { 
			    view[i] = binary.charCodeAt(i); 
			} 
			var blob = new Blob([view], { type: "application/pdf" }); 
			var blobURL = URL.createObjectURL(blob); 
			window.open(blobURL);
		}
		
		//解密
		function cbcdecrypt(e, key, iv){
		   var r = CryptoJS.enc.Utf8.parse(iv);
		   var  n = CryptoJS.enc.Utf8.parse(key);
		   var o = CryptoJS.AES.decrypt(e, n, {
		        iv: r,
		        mode: CryptoJS.mode.CBC,
		        padding: CryptoJS.pad.Pkcs7
		   });
		   return CryptoJS.enc.Utf8.stringify(o).toString();
		}
	</script>
</body>
</html>
